//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
$--color-primary: #4C8AFD;
$--default--form-height:34px;
$primary:#4C8AFD;
$success:#56B987;
$warning:#FD694C;
$danger:#FF7171;
$info:#DEDEDE;
$purple:#7D5F89;